[Unit]
Description=Flask Service
After=network-online.target

[Service]
User=jonny
Group=jonny
WorkingDirectory=/home/jonny/display-app
ExecStart=/bin/sh -c '/home/jonny/display-app/bin/flask -A upload_image run -h paiartzero.local'
Restart=always

[Install]
WantedBy=multi-user.target